html,
body {
  margin: 0;
  padding: 0;
}

iframe,
#container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.block {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block::after {
  display: none;
  font-size: 12px;
  color: white;
}

.block:hover::after {
  display: block;
}
